body{
    background-color: darkgray;
    margin: auto;
    padding: inherit;
}
.header {
    width: 50px;
    height: auto;
    border-left: 4px solid;
    border-right: 5px solid;
    overflow: auto;
    margin: auto;
    padding: inherit;
    background-color: aqua;
}
h2 {
        width: 40%;
        font-family: cursive;
    font-feature-settings: normal;
    font-style: oblique;
      }
    
}
img.intro{
    border: 2px;
    float: right;
    margin: auto;
    padding: 2px;
}